
.idea/workspace.xml
QUERIES/ADMIN.sql
QUERIES/AUTHOR AND PUBLISHER.sql
QUERIES/BOOK.sql
QUERIES/CART.sql
QUERIES/CREATE TABLE/ADMIN.sql
QUERIES/CREATE TABLE/ORDER.sql
QUERIES/CREATE TABLE/REVIEW AND WISHLIST.sql
QUERIES/CREATE TABLE/TOKEN.sql
QUERIES/CUSTOMER AND ADDRESS TABLE.sql
QUERIES/ORDER.sql
QUERIES/REVIEW AND WISHLIST.sql
QUERIES/TOKEN.sql
QUERIES/CREATE TABLE/ADMIN.sql
QUERIES/CREATE TABLE/ORDER.sql
QUERIES/CREATE TABLE/REVIEW AND WISHLIST.sql
QUERIES/CREATE TABLE/TOKEN.sql
QUERIES/CREATE TABLE/ADMIN.sql
QUERIES/CREATE TABLE/ORDER.sql
QUERIES/CREATE TABLE/REVIEW AND WISHLIST.sql
QUERIES/CREATE TABLE/TOKEN.sql
venv