<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Buy Book Online | Rokomari.com</title>
</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="rokomari_logo.png" width="100" height="30" alt="">
      </a>

        <div class="mx-auto order-0">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mx-auto mr-sm-2" type="search" placeholder="Search by Books, Authors or Publishers" aria-label="Search" style="width: 600px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>






        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark">Cart</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark">Sign In</button></a>
            </li>
        </ul>



    </nav>

</body>
</html>